.container {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  justify-content: center;
  background-color: var(--theme-primary);
  box-shadow: 0 0 20px var(--theme-primary-d70);
  color: var(--theme-primary-d70);
}
.timer {
  display: grid;
  grid-template-columns: repeat(12, 1em);
}
.digit {
  text-align: center;
  margin: 5px;
}