.ticketSection {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.ticketButton {
  font-size: xx-large;
  padding: 2rem !important;
}