.link {
  text-decoration: none;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: 0.5s ease;
  transform: rotate(var(--rotation));
}
.link:hover {
  transform: rotate(var(--hover-rotation)) scale(var(--hover-scale));
}
.weathered {
  mask-image: url(../assets/socials-mask.png);
  -webkit-mask-image: url(../assets/socials-mask.png);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}