:root {
  --parallax-aspect-ratio: 1.3335;
  --body-column-width: 80rem;  
}
body {
  background-color: var(--theme-background);
  font-family: var(--theme-font-family);
  color: var(--theme-color);
  background-color: var(--theme-background);
  font-size: large;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  overflow-x: hidden;
}

.disclaimer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: darkred;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}