:root {
  --parallax-aspect-ratio: 1.3335;
  --background-color: rgb(6, 17, 24);
  --body-column-width: 80rem;
}
body {
  background-color: var(--background-color);
  font-size: large;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Cinzel, serif;
  text-align: center;
  color: white;
  background-color: var(--background-color);
  overflow-x: hidden;
}

.disclaimer {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: darkred;
  padding: 10px;
  margin: 0;
  border-radius: 10px;
}